[2015-06-03 09:02] chunyunchen opened #1 "Met AttributeError: 'NoneType' object has no attribute 'upper'"
1) Login openshift and create project for the user

$ osc login --server=$master -u $user -p $password
$ osc new-project test

  2) Create imageStream

$ osc create -f image-streams-centos7.json
(the file "image-streams-centos7.json" is same with https://github.com/openshift/origin/blob/master/examples/image-streams/image-streams-centos7.json)

 3) Login openshift in web console

 4) Create applic

[2015-06-03 15:10] mfojtik commented on #1
@rhcarvalho PTAL ^

[2015-06-03 16:13] #1 closed

[2015-06-05 07:00] chunyunchen opened #5 "Met "can't open file 'app.py': [Errno 2] No such file or directory""
1) Login openshift and create project for the user

$ osc login --server=$master -u $user -p $password
$ osc new-project test

2) Create imageStream

$ osc create -f image-streams-centos7.json
(the file "image-streams-centos7.json" is same with https://github.com/openshift/origin/blob/master/examples/image-streams/image-streams-centos7.json)

3) Login openshift in web console

4) Create applicatio

[2015-06-05 10:15] rhcarvalho commented on #5
The problem here is missing environment variables used by [sti-python](https://github.com/openshift/sti-python/tree/master/3.3), namely `APP_MODULE` or `APP_FILE` to run your application, and `APP_CONFIG` for passing configuration to gunicorn. If none of the first two are defined, it defaults to trying to run a file called `app.py`.

Looking at the create flow, I see there is a way to add environm

[2015-06-05 10:42] mfojtik commented on #5
@rhcarvalho can we attempt to do some smart detection what file is present instead of defaulting to app.py?

[2015-06-05 11:33] rhcarvalho commented on #5
@mfojtik we could detect that this is a Django project, and serve it with gunicorn if gunicorn was part of your requirements, or with ./manage.py runserver if gunicorn is not there.

[2015-06-05 11:38] mfojtik commented on #5
@rhcarvalho @soltysh that seems strange to me... i'm not python user but I would expect something consistent with Ruby, where:

1. we check if you have gunicorn|microwhiskey|whatever server installed and use that to run you app
2. if not, we default the 'django run' and run the internal django server with message that warn you about you running in 'development' server mode
3. if you set APP_MODULE

[2015-06-05 12:29] soltysh commented on #5
+1 for adding django autodetection in sti-python, I thought this was already agreed before.
@mfojtik for the defaults, ruby is maybe different with python the problem is users can name their apps whatever they want. I took exactly the same solution as we have in v2 (namely `app.py`), which can be changed with `APP_FILE`. Although running apps with dev server is **strongly** discouraged I'm ok with

[2015-06-05 12:31] mfojtik commented on #5
@soltysh so APP_FILE defaults to 'app.py'? that seems reasonable to me.

[2015-06-05 12:34] mfojtik commented on #5
@soltysh app.py should be the last attempt before we fail with error message "Sorry, we are unable to run you. You have to provide foo, bar, ...."

[2015-06-05 13:25] soltysh commented on #5
@mfojtik and that's how it's done right now, `app.py` is the last option if everything else fails.

[2015-06-05 14:06] bparees commented on #5
agree with the flow @mfojtik proposed.

As for @rhcarvalho's suggestion that we fail the build if we can't run it later, i like that also, but it likely means duplicating a bunch of logic between the assemble and run scripts.

[2015-06-05 15:11] soltysh commented on #5
The other problem with @rhcarvalho solution is that those env used for running are specified at Deployment, which we don't know anything about at build time, so we'd have to duplicate those vars as well in both places for builds to be aware of them and for deployments to actually use them.

[2015-06-08 08:59] rhcarvalho commented on #5
@chunyunchen this flow has been fixed, thank you.

[2015-06-08 08:59] #5 closed

[2016-03-03 00:55] cjryan opened #34 "manage.py import error"
When running
[code]
on the latest RHEL or CentOS devenv, I'm noticing the following error in the build:
[code]
The client machine is Fedora 23 x64, with
oc v1.1.3-232-gf39a5a8
kubernetes v1.2.0-alpha.7-703-gbc4550d
etcd 2.2.5

I will try this evening to test against the lastest Fedora 'origin', @csrwng indicated some success with that.

[2016-03-03 20:09] cjryan commented on #34
Seeing similar behavior when running the latest Vagrant install of origin, as well.

[2016-03-03 20:19] csrwng commented on #34
@cjryan I can reproduce this on an aws RHEL machine with the latest origin ami

[2016-03-03 20:54] rhcarvalho commented on #34
@cjryan the problem is origin v1.1.3 + template@latest-master.

See https://github.com/openshift/origin/pull/7379#commitcomment-16273464

Unfortunately, unlike in origin's sample-app, this repo is not being tagged with every origin release.
Please use an older version of the template for now:

[code]

And for the next releases we'll have vendored copies of the templates in origin:
https://github.c

[2016-03-03 21:39] cjryan commented on #34
@rhcarvalho thanks for taking a look at this. Unfortunately, that version of the the older script won't work, as we are explicitly testing the

[code]
functionality. It looks like we'll have to hang tight until the vendored copies of the templates are available.

[2016-03-03 22:17] rhcarvalho commented on #34
@cjryan aha got it. You can use the command and/or args form:

[code]

or

[code]

or

[code]

and some other combinations of those ;)

The underlying problem here is that v1.1.3 runs the `script` form of the hook using `/bin/sh -c`, and that doesn't work with our automation to enable scl collections. After the release we changed it to `/bin/sh -ic` which will work with scl out-of-the-box.

If you

[2016-03-03 22:18] rhcarvalho commented on #34
FWIW, the error message `ImportError: No module named django.core.management` is coming from the system Python, not from the SCL Python version where django and all other dependencies were installed.

[2016-03-03 23:42] GrahamDumpleton commented on #34
This problem would be avoided if a Python virtual environment was being used in the image and the bin directory for that was in the PATH. SCL Python only then needs to be enabled during the build phase for the image. See https://github.com/openshift/sti-python/issues/90#issuecomment-180547021

[2016-03-04 08:45] rhcarvalho commented on #34
@GrahamDumpleton I'm not entirely sure, at least not for all apps.
If you run something that depends on a shared library, `scl_enable` is also setting `LD_LIBRARY_PATH`, among other things, that would not be correctly set in the virtualenv. Does that make sense? Or is that important only on build time?

I'm all in favor of having the Python image use virtualenv.

While it could alleviate the probl

[2016-03-04 09:02] GrahamDumpleton commented on #34
Especially if the install location of SCL packages is fixed as being ``/opt/rh`` they should be compiling the Python binaries with a ``LD_RUN_PATH`` compiled into them of ``/opt/rh/python27/root/usr/lib64``. That is what one would normally do if installing Python into a non standard location. That way ``LD_LIBRARY_PATH`` isn't needed at run time. Either way, simply set ``LD_LIBRARY_PATH`` in the D

[2016-03-04 09:20] rhcarvalho commented on #34
@GrahamDumpleton thanks for the explanation! I don't know how the SCL Python binaries are compiled. The `LD_LIBRARY_PATH` was one that came to mind because it tripped me up in the past ;)

Setting envs in the Dockerfile is something we have discussed though, but yet haven't gone that path because AFAIK we don't have a clean way to get what are the env changes after a "scl_enable some-collection" r

[2016-03-09 14:23] rhcarvalho commented on #34
The problem has been explained and solutions listed in https://github.com/openshift/django-ex/issues/34#issuecomment-191991708

Closing this, @cjryan please let me know if you still have trouble and I can reopen.

[2016-03-09 14:23] #34 closed

[2016-03-23 19:05] cjryan commented on #34
@rhcarvalho @GrahamDumpleton Apologies for the delayed response, thank you for the solutions to the issue at hand.

[2016-04-01 16:51] hmleal opened #38 "Django version in requirements.txt"
Django 1.8.X is the LTS version and has support until at least April 2018 why not update the requirements.txt to:

[code]

[2016-04-08 04:23] bparees commented on #38
unfortunately that appears to cause the post-commit hook tests (`./manage.py test`) to fail:

[code]

[2016-04-11 20:36] jfmatth opened #39 "Whitenoise requirement?"
I noticed that whitenoise is in the requirements.txt file, and it in the wsgy.py file, but in reading the docs from whitenoise, it doesn't seem to match the django setup.

Is this correct?

[2016-04-11 20:40] bparees commented on #39
Can you elaborate on what doesn't match up?

[2016-04-11 20:48] jfmatth commented on #39
HI @bparees, thanks for the quick response.

According to the latest [whitenoise documentation](http://whitenoise.evans.io/en/stable/#quickstart-for-django-apps), we only need to add some middleware classes, and we are done, but I don't see those in the current settings.py file.  Also, there is no mention of having to call the WSGI server in the way we do.

I'm not sure if this is me or did someon

[2016-04-11 20:55] bparees commented on #39
@jfmatth I see..if you want to make a pull i'll be happy to give it a spin.

[2016-04-11 23:08] jfmatth commented on #39
Ok
On Apr 11, 2016 1:55 PM, "Ben Parees" <notifications@github.com> wrote:

[2016-04-12 07:52] PI-Victor commented on #38
i wrote the tests for this so i can fix them, please assign it to me.

[2016-04-12 09:43] PI-Victor commented on #38
it's not the tests, the django version needs django-debug-toolbar updated as well.
but i will submit a PR these days upgrading all dependencies and fixing a few deprecated functions.

[code]

[2016-04-12 13:31] jfmatth commented on #39
@bparees I see the reason for the difference.  v3.x eliminates the need to modify the wsgi.py file, and just has you install middleware.

However, pip doesn't show 3.x as being available yet.

The only thing that would need changing in this repo is the version number of whitenoise to more current (v2.x).  I'll wait until 3.x is out to try and test an PR for you.

thanks for responding, keep up the

[2016-04-12 13:31] #39 closed

[2016-04-29 14:44] #38 closed

[2016-04-29 15:32] jfmatth opened #41 "Remove debug-toolbar from requirements.txt"
Why do we have the debug-toolbar in this repo?

Could we move it to a note in the readme.MD instead?

Just a thought.

[2016-04-29 16:42] bparees commented on #41
@rhcarvalho guessing you wrote this originally though i can't remember for sure..

[2016-04-29 16:45] rhcarvalho commented on #41
This repo is really just an example.
The `django-debug-toolbar` is included because it helps debugging database connectivity among other things.

You don't have to have it in your own app.

[2016-06-08 11:18] PI-Victor commented on #41
![screenshot from 2016-06-08 13-13-17](https://cloud.githubusercontent.com/assets/6294120/15892610/e9d36034-2d7a-11e6-96fe-508e5ccba98d.png)
the debug-toolbar displays the toolbar on the right used for debugging, as @rhcarvalho pointed this is an example and the toolbar helps you debug. Users can remove it from their final app, but it should stay in this example for users to see how it works.

[2016-06-08 11:18] #41 closed

[2016-06-29 07:08] general03 opened #48 "Static folder"
I tried to configure my static folder without success.
In the [setting file](https://github.com/openshift/django-ex/blob/master/project/settings.py) you have `STATIC_ROOT = os.path.join(BASE_DIR, 'staticfiles') `but I don't find this folder on the repo

Someone can help me to configure my static folder ?

[2016-06-29 14:43] bparees commented on #48
@rhcarvalho or @grahamdumpleton can you help here?

[2016-06-29 15:09] PI-Victor commented on #48
and the link: https://docs.djangoproject.com/en/1.8/howto/static-files/

[2016-06-29 15:45] general03 commented on #48
Thanks @PI-Victor but you can imagine that I already done that.
My project works fine in local.
I tried several configurations and you can find more informations on my post : http://stackoverflow.com/questions/37845189/static-files-on-openshift-with-django
Thanks

[2016-06-30 13:21] rhcarvalho commented on #48
Hi @general03, looking at your SO post, I think you're working with OpenShift v2, where you have cartridges and so on (current OpenShift Online offering).
This example repository is meant for use with OpenShift v3. Doesn't mean you get no help :)

When you run Django in production (debug=False), you need to handle serving static files by some other means.

- One way to do it is to setup a HTTP ser

[2016-06-30 13:33] bparees commented on #48
@rhcarvalho good catch.  I can't seem to dig up any useful v2 python docs at the moment, but maybe @dinhxuanvu has a pointer.

[2016-06-30 13:49] dinhxuanvu commented on #48
It doesn't look like we have an official document for this unfortunately or at least I couldn't find it anywhere. However, @rhcarvalho comment is correct regarding where to put static files `$OPENSHIFT_REPO_DIR/wsgi/static`. So his advice is the way to go.

Also, I found this post that looks useful. Please take a look: [StackOverflow](http://stackoverflow.com/questions/25912675/openshift-python-2-

[2016-06-30 18:21] jfmatth commented on #48
If you need a v2 version for django, try mine :)

https://github.com/jfmatth/openshift-django

[2016-06-30 18:25] dinhxuanvu commented on #48
We do have a Django example for V2 which is [https://github.com/openshift/django-example](Django)

[2016-06-30 18:26] dinhxuanvu commented on #48
@jfmatth Sorry pal :D... I couldn't resist stealing your thunder :P...

[2016-06-30 18:31] jfmatth commented on #48
No worries, it's all free open source anyway, that's the way we do it.

But if ur at summit today, you can buy me a drink :)
On Jun 30, 2016 11:26 AM, "Vu Dinh" <notifications@github.com> wrote:

[2016-06-30 18:34] dinhxuanvu commented on #48
Haha. Sorry, I'm not at the Summit this year but next year when Summit is back in Boston, I owe you one :D.

[2016-07-01 07:21] general03 commented on #48
In the wsgi.py I have to have
[code]
and in my settings.py
[code]
And the filesystem of my website
[code]

[2016-07-01 07:22] #48 closed

[2016-07-02 15:13] jfmatth commented on #48
You should checkout my repo, those changes aren't required :).

good luck

[2016-07-05 14:10] amitkrout opened #49 "Found "SyntaxError: invalid syntax" while deploying through openshift/python-27-centos7 registry"
Found the below error in build logs of django-ex
[code]
Steps to reproduce:
1. Create a new project (oc new-project python-test)
2. Deploy the new app (oc new-app openshift/python-27-centos7~https://github.com/openshift/django-ex)
3. Go to the build logs (oc logs -f bc/django-ex)
3. Build is successful but in the build logs found an error as above

[2016-07-05 14:13] bparees commented on #49
@soltysh @rhcarvalho this has nothing to do w/ the image, right?  something bad in the gunicorn libs?

[2016-07-05 14:39] soltysh commented on #49
It's the same as https://github.com/sclorg/s2i-python-container/issues/117 In short we need newer pip in that image.

[2016-07-05 15:11] bparees commented on #49
thanks @soltysh

closing as dupe of https://github.com/sclorg/s2i-python-container/issues/117

[2016-07-05 15:11] #49 closed

[2016-07-07 08:12] rhcarvalho opened #52 "Enable compression and caching"
WhiteNoise recommends enabling compression and caching:
http://whitenoise.evans.io/en/stable/django.html#add-compression-and-caching-support

We could test that it works and enable it.

[2016-07-08 14:51] jfmatth commented on #52
let me have a look see and what I can find.

[2016-07-08 15:06] jfmatth commented on #52
interesting, looks like it affects the collectstatic command in that it creates unique files with different timestamps for cache.

[2016-07-08 15:44] rhcarvalho commented on #52
Fixed by #53.

[2016-07-08 15:44] #52 closed

[2016-07-11 14:05] general03 opened #54 "Log python"
I tried to debug my app but I don't find python log with
`rhc tail -a project`
Or when I got to /var/lib/openshift/id/app-root/logs/python.log file I don't find more log than displayed at screen

How can I see all my python output console ?

[2016-07-11 14:51] bparees commented on #54
@dinhxuanvu appears to be a v2 user.

[2016-07-11 17:43] jfmatth commented on #54
@general03

Hi, just to be clear, you're posting in a Openshift v3 issues django project, and your question is around an openshift v2 issue.  The django repo for v2 is https://github.com/openshift/django-example.

That being said, what logs are you looking for specifically in Openshift v2?  The python log should only show exceptions being handled, and application logging would go where you specify

[2016-07-11 18:49] general03 commented on #54
You're right @jfmatth it's a Openshift v2 issue. Can you move this issue in the right section ?

I don't use special log settings for my project

[2016-07-11 18:59] jfmatth commented on #54
I don't have that ability, only red hat.

I would add logging, then you can see it in the logs that you manage

On Mon, Jul 11, 2016, 11:49 AM general03 <notifications@github.com> wrote:

[2016-07-11 22:12] jfmatth commented on #54
Feel free to checkout my settings file for logging info and how i do it

https://github.com/jfmatth/aim-openshift/blob/master/mysite/settings.py

[2016-07-13 20:31] jfmatth commented on #54
i think we can close this now.

[2016-07-13 20:33] dinhxuanvu commented on #54
@jfmatth Thanks for all the help. Appreciate it. :D

[2016-07-13 20:33] #54 closed

[2016-08-31 12:16] PI-Victor opened #57 "can't deploy on openshift"
@bparees is this supposed to be empty?
https://github.com/openshift/django-ex/blob/master/openshift/templates/django-postgresql.json#L305

my deployment fails on openshift with imagePullBackOff and something like

[code]

[2016-08-31 12:30] jhadvig commented on #57
@PI-Victor that shouldn't cause the issue... when you check https://github.com/openshift/rails-ex/blob/master/openshift/templates/rails-postgresql.json#L178 it's got empty value as well

[2016-08-31 12:56] PI-Victor commented on #57
@jhadvig thanks for the help man. it was actually a namespace issue on my project, was using project `demo` instead of `openshift`
closing.

[2016-08-31 12:56] #57 closed

[2016-09-01 01:28] GrahamDumpleton opened #58 "Add notes in documentation about tests triggered by build."
A section should be added to the documentation about how tests are being triggered by a "postCommit" in the build configuration. It is important to highlight it because its presence can break builds in a confusing way if people copy this repo as an example and change around how databases are setup and remove the fallback to SQLite.

Worst case would be someone who changed the code such that databa

[2016-09-01 01:36] bparees commented on #58
Sounds like part of the issue is that our logging/etc is not doing a good job of indicating the build failed because the postcommit tests failed?

also i take it they copied the template and not just the source?

[2016-09-01 01:38] GrahamDumpleton commented on #58
They copied both but then overrode DATABASES in settings module.

* https://github.com/CGPartners2016/ratescentral/blob/master/project/settings.py#L93

[2016-10-04 01:07] jfmatth opened #62 "Why is APP_CONFIG defined in the template?"
I just spent 2hrs figuring out why my app_config values in my .s2i/environment setup didn't work, and it turns out that the template has a blank APP_CONFIG variable.

Is this there for a reason?  It seems to collide with the .s2i documentation, or rather it's spirit.

[2016-10-04 01:16] bparees commented on #62
I think we were just trying to make it easier for people deploying the template to populate the value instead of having to provide an environment file.

[2016-10-04 01:45] jfmatth commented on #62
Ben, thanks for the quick response.

I agree that would be great, but it just seems to conflict with the .s2i docs, etc.  At least it did for me.

Seems like it would be easier to tell them to add it and not put it in the template?

Just frustrated I guess :)

[2016-10-04 01:45] #62 closed

[2016-11-30 16:48] rhcarvalho commented on #58
This seems to be a problem common to all language/framework examples?

Build hooks are documented here: https://docs.openshift.org/latest/dev_guide/builds.html#build-hooks

Perhaps the suggestion here is to update all examples to warn about database settings and automatic test execution? I am not sure that would be very effective in preventing people from doing things like pointing to a production

[2016-12-17 20:51] Tset-Noitamotua opened #70 "Error: pg_config executable not found."
While installing with `pip install -r requirements.txt` on OS X El Capitan I get an error:

[code]

[2016-12-17 22:00] PI-Victor commented on #70
@Tset-Noitamotua http://stackoverflow.com/a/24645416/2146586 i think you might be missing a lib.

[2016-12-19 02:52] bparees commented on #70
@PI-Victor does this work on your mac?

[2016-12-19 10:39] Tset-Noitamotua commented on #70
@bparees Installation was successfull after `brew install postgresql`. Thanks @PI-Victor!

[2016-12-19 10:52] PI-Victor commented on #70
@bparees i remember this happens all the time on fedora when you don't have all the libraries. same error. :)

[2016-12-22 10:14] qwelin opened #71 "Hello, I tried to run the code, but it shows"
Hello, I tried to run the code, but it shows：
django.core.exceptions.ImproperlyConfigured: WSGI application 'application' could not be loaded; Error importing module: 'application doesn't look like a module path'

[2016-12-22 13:33] PI-Victor commented on #71
can you be a bit more specific? where does this error appear, on openshift, on your local system, did you follow all of the steps provided in the [README.md](https://github.com/openshift/django-ex#local-development), are you running the example or your own example?
I'm familiar with this error, but i don't exactly remember where i saw it before, or how i bumped into it. It's not an error in the ex

[2016-12-23 01:54] qwelin commented on #71
on mine local system,liunx.yes ,  I was follow all of the steps provided in the README.md and I running the example.

(text_1) MacxdeMacBook-Pro-251:django-ex will$ ./manage.py runserver
Performing system checks...

System check identified no issues (0 silenced).
December 22, 2016 - 10:15:46
Django version 1.8, using settings 'project.settings'
Starting development server at http://127.0.0.1:8000/

[2017-01-03 07:27] jerinpetergeorge commented on #71
I got this issue.

I made small change in  **settings.py**

I changed `WSGI_APPLICATION = 'application'` to `WSGI_APPLICATION = 'wsgi.application'`

[2017-01-03 07:33] jerinpetergeorge opened #72 "Django Admin"
I want to do **createsuperuser** ( `python manage.py createsuperuser` )on remote pod. So i did it through `oc rsh pod_name` .

But,  whenever i push the code to repository, the admin settings are changing. That means I have to re-run the `oc rsh pod_name` command

How can I avoid this repeating procedure ?

[2017-01-03 16:41] bparees commented on #72
sounds like you need to find the file the admin settings are stored in and provide your own assemble script that will take the settings file from your repo and use it, instead of creating one on app startup.

or you need to create your own python s2i builder image that already has the settings you want, and use that as your s2i builder image.

[2017-01-03 17:42] #71 closed

[2017-01-04 00:37] jfmatth commented on #72
What type of python are you running?  Is it the standard python one with MYSQL or the persistent one with an NFS backend.

If the former, then yes, each time you push, you'll get a rebuilt container and new DB :(.  If you want it persistent, try the persistent template.

does this help?

[2017-01-26 19:45] bparees commented on #72
closing due to inactivity.

[2017-01-26 19:45] #72 closed

[2017-02-02 09:10] ghyde opened #77 "Can't connect to service with dashes in name"
When the environment variable `DATABASE_SERVICE_NAME` contains dashes, `database.py` doesn't convert the dashes (`-`) into underscores (`_`) ([code][1]). This causes Django to fail to connect to the database.

For example, if my Openshift service is named `foo-1`, the corresponding environment variables are `FOO_1_SERVICE_HOST` and `FOO_1_SERVICE_PORT`. However, `database.py` tries to get the envi

[2017-02-02 16:41] bparees commented on #77
lgtm

[2017-02-02 16:41] #77 closed

[2017-02-24 19:10] rhcarvalho commented on #58
@bparees please reassign.

[2017-02-24 19:47] coreydaley opened #81 "051436"

[2017-02-24 19:47] #81 closed

[2017-03-29 15:34] #58 closed

[2017-05-02 07:18] bbaassssiiee opened #85 "changing group not permitted, failed to kill container"
Post-processed 'debug_toolbar/img/close_hover.png' as 'debug_toolbar/img/close_hover.2592d7057d2c.png'

79 static files copied to '/opt/app-root/src/staticfiles', 79 post-processed.
chgrp: changing group of ‘/opt/app-root/lib/python3.5/struct.py’: Operation not permitted
chgrp: changing group of ‘/opt/app-root/lib/python3.5/tempfile.py’: Operation not permitted
chgrp: changing group of ‘/opt/app-r

[2017-05-02 18:34] bparees commented on #85
1) please provide steps to recreate
2) what issue are you are actually reporting?  the presence of the warnings, or did something actually fail?

[2017-05-02 18:52] jfmatth commented on #85
are we concerned at all with the line?
[code]
I was able to recreate by just building a plain python app on the openshift online.

[2017-05-02 18:54] jfmatth commented on #85
Here is my build log from just now...

[code]

[2017-05-02 18:55] bparees commented on #85
@jfmatth as long as it doesn't fail the build, no we aren't (it's effectively a benign error), but there is work going on to resolve it.  that work is happening in the base image that underpins the s2i python image: https://github.com/sclorg/s2i-base-container/pull/120

[2017-05-02 19:01] bbaassssiiee commented on #85
[code]

[2017-05-02 19:08] bbaassssiiee commented on #85
All fine with me. I was just commenting on the out-of-box experience.

[2017-05-02 19:08] #85 closed

[2017-05-02 19:09] jfmatth commented on #85
@bparees thanks for the feedback.  I figured it was in the s2i image, but i don't recall it ever being there before in other builds on the demo of online 3.0

[2017-05-03 01:30] bparees commented on #85
@bbaassssiiee thanks, i've opened an s2i issue (https://github.com/openshift/source-to-image/issues/736) for the container kill warning and per my response to @jfmatth the chmod issue is a known one that's being address.

[2017-06-16 02:35] jfmatth opened #91 "allowed_hosts"
In Openshift2 I used to set allowed_hosts to an environment variable called OPENSHIFT_APP_DNS, but now I notice that you have used * in it's place.

Do we think this is safe since we are in a dedicated container now?

Just wanted to check.

thanks,

[2017-06-16 04:17] bparees commented on #91
no, it's that we don't know the host you're going to expose the application on.  it's determined by the route you create, and in turn the route's hostname is determined by the project name and other dynamic pieces (unless you control the DNS and can set an explicit route name).

you are to some degree protected by the router in that a request is unlikely to get to your app unless you defined a rou

[2017-06-16 04:17] #91 closed

[2017-06-16 05:36] jfmatth commented on #91
Thanks Ben, that makes sense.

[2017-07-20 21:15] shanemacbride opened #94 "pg_config executable not found"
When trying to spin up the application locally on Mac OS X, I got the error:
[code]

I solved this by installing the following homebrew bottle.
[code]

[2017-07-20 21:19] bparees commented on #94
sounds like just an update to the readme is in order here: https://github.com/openshift/django-ex#local-development  ?

do you want to submit a PR?

[2017-07-20 21:21] shanemacbride commented on #94
@bparees Yes, I just noticed this is a duplicate of https://github.com/openshift/django-ex/issues/70. I'll submit a PR shortly, sure.

[2017-07-20 21:37] #94 closed

[2017-10-24 14:19] tnir opened #103 "Local development errors on macOS with postgresql 10.0"
Local development does not work on macOS with postgresql 10.0:

[code]

We should specify the latest version of psycopg2.

[2017-10-24 14:55] #103 closed

[2017-10-24 15:34] tnir opened #105 "Update django to 1.11"
Update Django from 1.8 to 1.11 as Django 1.8 will be EOS in Apr 2018.

[2017-10-24 15:36] tnir opened #106 "Update django-debug-toolbar to 1.8"
Update django-debug-toolbar from 1.5 to 1.8 to update django to the latest.

blocks #105

[2017-10-24 15:36] tnir opened #107 "Update whitenoise to 3.3.1"
Update whitenoise from 3.0 to 3.3.1 to update django to the latest.

blocks #105

[2017-10-24 15:36] tnir opened #108 "Update gunicorn to 19.8.1"
Update gunicorn from 19.4.5 to 19.8.1.

[2017-10-24 16:11] #105 closed

[2017-10-24 16:12] #106 closed

[2017-10-24 16:12] #107 closed

[2017-10-24 16:43] tnir opened #111 "Use new logo"
https://www.openshift.com/about/logos.html

[2017-10-24 16:55] #111 closed

[2018-02-13 08:32] tcarlander opened #117 "Upgrade Django to 2.0"

[2018-02-28 17:54] praiskup opened #120 "Setup CI with released images"
See PR#119 why it is needed.

[2018-02-28 17:58] bparees commented on #120
needs to test the template w/ both the centos and rhel image.

[2018-05-06 13:54] MCWEMA opened #123 "Git Push not reflecting changes"
Git push doesn't reflect the new addition and changes in local branch.  How is that possible ?

List directories on openshift

VIEWS_BASE_DIR welcome templates welcome
['index.html']

On local
 VIEWS_BASE_DIR welcome templates welcome
 ['index.html', 'index0.html', 'indexa.html', 'LBase', 'Portfolio', 'services.html', 'sidebar.html']

[2018-05-06 19:10] MCWEMA commented on #123
forget it

[2018-05-06 19:10] #123 closed

[2018-05-15 15:52] tnir commented on #108
[gunicorn 19.8.1](https://pypi.org/project/gunicorn/19.8.1/) was just released 😄

[2018-05-29 13:49] MCWEMA opened #124 "./run-in-container"
Need to check t this.

./run-in-container.sh  is not needed since there is no such file in the app-root.
Just run manage.py createsuperuser  from the terminal of a running pod.

[2018-10-10 04:16] tnir opened #132 "Upgrade Django to 2.1"
Instead of #117

[2018-10-10 04:17] tnir opened #133 "Update unicorn to 19.9.0"
Update gunicorn from 19.4.5 to 19.9.0.

Instead of #108

[2018-10-10 04:17] tnir commented on #108
Closed in favor of #133

[2018-10-10 04:17] #108 closed

[2018-11-19 08:34] renefs opened #136 "Contribution: Flask-ex (based on this repo)"
Hi,
I made a fork of this repository to run a Flask application on Openshift (https://github.com/renefs/flask-ex) I think It might be helpful for some people using this microframework. My question is: What is needed to add the quickstart here: https://docs.openshift.com/container-platform/3.11/dev_guide/migrating_applications/quickstart_examples.html ?

Cheers,
Rene

[2019-03-15 12:21] frenzymadness opened #138 "Update example in readme to Python to 3.6"
It would be nice to use a newer version of the image `centos/python-36-centos7` in [readme example](https://github.com/sclorg/django-ex/blob/master/README.md#without-an-application-template).

[2019-03-19 17:36] raidermike opened #139 "upgrade psycopg2 to 2.7.7"

[2019-03-28 02:40] StoneCX commented on #71
got same issue and above is not useful to me

[2019-03-28 02:42] jerinpetergeorge commented on #71
got any error traceback?

[2019-04-01 18:53] jfmatth commented on #136
@renefs Can't u just do a PR against that page in the docs?

[2019-04-03 23:15] jfmatth opened #141 "Changes for django 2.1 support"
In starting to build the django 2.x PR for this repo, i ran into a basic issue, django 2.1+ requires SQlite 3.8 or higher, and looks like 3.7 is installed on the python S2I builds.

django 2.0 runs fine with minor changes.

Need SQlite 3.8 installed for 2.1 to run :)

[2019-08-28 18:29] dennislabajo opened #143 "Unable to start django"
Hello - I just tried deploying this to OpenShift and could not get the django pod to start up.  The postgresql has no issues.   Any ideas what may be causing this?  Thanks.

[code]

This is the error from the logs.

[code]

[2019-11-06 13:40] cadjai opened #144 "add new build environment variable to allow this template to be easily deployed in air gapped environments"
When deploying this template or any python based application in an air gapped, disconnected or non standard environment where the custom pypi is non standard the build pod fails to build because it does not trust the certificate of the provided custom pypi server. The way we have been able to get around this has been to add a build environment variable named PIP_TRUSTED_HOST and set its value to t

[2019-11-27 20:15] juliet-tech commented on #94
Running `brew install postgresql` solved it for me

[2020-01-25 00:29] tnir opened #146 "Update unicorn to 19.10.0"
Update gunicorn from 19.4.5 to 19.10.0 to address the following:

- https://snyk.io/vuln/SNYK-PYTHON-GUNICORN-541164
- https://snyk.io/vuln/SNYK-PYTHON-GUNICORN-42097

Replaces #133 #108

[2020-04-22 01:04] tw0shoes commented on #132
I've tried this on openshift online, and the collect_static part of the deploy no longer works.

[2020-04-22 01:06] tw0shoes opened #149 "Upgrade to Django 2.2"
I've tried to use django 2.2, but the collect static portion of the deploy no longer runs properly.

[2020-07-09 09:29] frenzymadness opened #152 "Dead links"
Both master and `1.11.x` branches contains a lot of dead links to OpenShift documentation. Also, it would be nice to test this project with the lastest OpenShift.

Any volunteers?

[2020-07-09 09:41] #133 closed

[2020-07-09 09:41] #146 closed

[2020-07-09 09:42] frenzymadness commented on #149
Updated in master branch to Django 2.2.12.

[2020-07-09 09:42] #149 closed

[2020-07-09 09:44] frenzymadness commented on #141
The new version in the master branch is compatible with Django 2.2. The older version for 1.11 is in a new branch for backward compatibility.

I am afraid that the new version won't work on RHEL/Centos 7 because the system SQLite there is too old for new Django.

[2020-07-09 09:44] #141 closed

[2020-07-09 09:44] frenzymadness commented on #139
Upgraded to 2.8.5

[2020-07-09 09:44] #139 closed

[2020-07-09 09:48] frenzymadness commented on #138
We should put 3.8 in master branch and 3.6 in 1.11.x.

[2020-07-09 09:49] frenzymadness commented on #132
Updated to 2.2.12 LTS.

[2020-07-09 09:49] #132 closed

[2020-07-09 09:49] frenzymadness commented on #117
Updated to 2.2.12 LTS.

[2020-07-09 09:49] #117 closed

[2020-07-09 09:52] frenzymadness commented on #136
I am closing this issue now but feel free to reopen is this is still relevant.

[2020-07-09 09:52] #136 closed

[2020-07-09 09:54] frenzymadness commented on #143
Hello. Sorry for the delay. Have you figured this up or is this still relevant?

[2020-07-09 09:57] frenzymadness commented on #144
Is this still active? I think that with the new Python containers you are enabled to accomplish this easily.

[2020-07-10 04:38] dennislabajo commented on #143
Hi @frenzymadness - No worries.  This can be closed. It is no longer relevant.  Thanks.

[2020-07-10 04:38] #143 closed

[2020-07-12 18:12] frenzymadness commented on #152
Correction: master and `2.2.x` branches need fixes

[2020-08-05 18:30] rvishna opened #159 "Different database password in Django and PostgreSQL containers"
In the current example template, the Django and PostgreSQL containers are in separate DeploymentConfig's. I have a CI pipeline that processes the template, and since I leave the DATABASE_PASSWORD parameter blank (intentional), it is generated every time the pipeline runs. However, this doesn't trigger a ConfigChange in either DeploymentConfig because the environment variables are secret references

[2020-08-05 18:49] bparees commented on #159
obvious, perhaps, but probably not trivial to implement since it means watching a separate resource for changes, when that resource is referenced by a primary resource.

You could also have a post-deployment hook on your django deploymentconfig that triggers the postgres deploymentconfig.

or you could have your pipeline twiddle an otherwise unused value(dummy env var, or an annotation on the pod

[2020-08-07 01:42] rvishna commented on #159
@bparees I should've mentioned that I'm trying to do a Rolling update on the Django container to avoid any down time at all, but this doesn't seem possible with the current template (at least I don't know how). If I start the PostgreSQL container during a post-deployment hook of the Django DeploymentConfig, the old replication controller has already scaled to zero and the new replication controlle

[2020-08-23 19:55] saddam1234567 commented on #71
django.core.exceptions.ImproperlyConfigured: WSGI application 'demo.wsgi.applica
tion' could not be loaded; Error importing module.

[2020-08-25 11:27] frenzymadness commented on #71
As before, could you please be more specific and provide some info about your setup, complete traceback and so on.

[2020-11-24 08:00] ricco386 opened #173 "Branch 2.2.x sqlite version problem"
I have tried to deploy branch 2.2.x to OpenShift with sqlite and the build ended with an error.

Build works fine, but when pod starts it ends in a `CrashLoopBackOff` state. I can see in the logs:

[code]

It seems that the default builder image for Python 3.6 has old sqlite version...

[2020-11-24 08:04] ricco386 opened #174 "Master branch suggest old Django version"
Django 1.11.X LTS is out of support as of April 1, 2020. Branch `2.2.x` seems to have supported version of Django.

https://www.djangoproject.com/download/

How about switch `2.2.x` to `master`?

[2020-11-24 08:41] frenzymadness commented on #174
I'd like to do it but the problem here is that the new Django 2.2.x doesn't work on RHEL/Centos 7 because it requires a newer version of SQLite than we have there. And this example/template is used in many places where Centos/RHEL 7 are still supported so the switch would break a lot of things.

By the way, readme contains info about this. I think there is nothing we can do about it now. What do y

[2020-11-24 08:43] frenzymadness commented on #173
What version of OS are you using? Django 2.2.x doesn't work on Centos/RHEL 7.

[2020-11-30 12:47] ricco386 commented on #173
My build was based on ubi7/python-36 which was the default in OpenShift I was using.

[2020-11-30 12:47] #173 closed

[2020-11-30 13:06] ricco386 commented on #174
Unfortunatelly, I have no idea where is this repo used... I just found it as an example in OpenShift reference for sample Django project.

You can create branch 1.11.x from current master and fix all other Centos/RHEL 7 references to new branch 1.11.x branch. Once that is done you should be able switch the 2.2.x to master... However I have no idea how much work is it...

Other than that I guess yo

[2020-11-30 14:52] frenzymadness commented on #174
I've tried that and then I had to revert those changes, see https://github.com/sclorg/django-ex/pull/154 and related PRs.

[2020-11-30 14:52] #174 closed

[2020-12-15 05:59] avraam1616 commented on #71
Internal Server Error: /
Traceback (most recent call last):
  File "C:\Users\Windows\.virtualenvs\BLOG\lib\site-packages\django\core\handlers\exception.py", line 47, in inner
    response = get_response(request)
  File "C:\Users\Windows\.virtualenvs\BLOG\lib\site-packages\django\core\handlers\base.py", line 202, in _get_response
    response = response.render()
  File "C:\Users\Windows\.virtualenv

[2020-12-15 06:01] avraam1616 commented on #71
please help i am searchimg 3 days now.  I follow the william vincent's book chapter 5

[2020-12-15 09:31] PI-Victor commented on #71
Hi, @avraam1616
i would suggest anyone landing here from google or any other sources to not post their problem here but [open a new repo issue](https://github.com/sclorg/django-ex/issues/new) so that their problem gets the proper attention.

This issue is 4 years old.

[2021-02-08 17:50] Sajan390 opened #177 "module_path, class_name = dotted_path.rsplit('.', 1) ValueError: not enough values to unpack (expected 2, got 1)"
When I try to run django server manage.py . Error occur:
 module_path, class_name = dotted_path.rsplit('.', 1)
ValueError: not enough values to unpack (expected 2, got 1)

[2021-02-08 18:25] frenzymadness commented on #177
Could you please share more info with us? Which branch do you use? How does the complete traceback look like? Which Python version? Is your setup special in any way?

[2021-02-09 03:42] Sajan390 commented on #177
This problem got resolved anyway. i have been facing another issue lately.
I installed djangorestframework but dont get any response.
![Screenshot (4)](https://user-images.githubusercontent.com/54765581/107312263-13952400-6ab8-11eb-856b-a9db1fca078b.png)

![Screenshot (5)](https://user-images.githubusercontent.com/54765581/107312342-493a0d00-6ab8-11eb-9656-7d526d8dd20e.png)
![Screenshot (6)](https

[2021-02-09 06:10] frenzymadness commented on #177
The error message is pretty clear here. You are trying to get content for URL "/" but Django sees only definitions for "admin/" and "api/".

Take a look at the documentation for Django and its rest framework for details.

[2021-02-09 08:40] Sajan390 commented on #177
Thanks for your concern brother.

[2021-02-09 08:40] #177 closed

[2021-04-14 06:21] frenzymadness opened #180 "Django 3.2 LTS"
Django 3.2 LTS is out: https://docs.djangoproject.com/en/3.2/releases/3.2/

We should prepare a new version of this example for this new release.

[2021-04-22 18:39] mbach04 opened #182 "Example Django apps do not work with FIPS enabled clusters"
The Django python examples that are populated as quick-starts / examples in an OCP 4.x cluster, will not build on an OpenShift cluster with FIPS enabled.

[2021-04-23 05:09] frenzymadness commented on #182
Could you please share more details? What package it needs causes this? Or is this because we use some disabled hash function?

[2021-04-30 08:11] frenzymadness commented on #182
Before I start with an investigation, could you please tell me where the problem you see lays? Is the Django example source code not compatible with FIPS or is the problem in the S2I Python container or in its OpenShift configuration?

[2021-05-10 17:49] mbach04 commented on #182
As soon as I can get another FIPS enabled cluster up I'll dig in deeper. I suspect it's not just the Django code, bc I saw this with other examples as well later on. If you have the time, prompting RHPDS to host FIPS enabled clusters as an option would help. I've requested this one line variable change, but have yet to see any traction.

[2021-05-12 10:10] frenzymadness commented on #182
It seems to me that there are only two possible ways to fix this problem: we can either fix Django upstream to be FIPS-compatible or use something else as an example project.

Fixing Django upstream might be possible thanks to the new `usedforsecurity` keyword argument for constructors in hashlib but it's available only in Python 3.9+ and it's hard to predict whether Django developers would be int

[2021-05-14 02:24] mbach04 commented on #182
If it were merely a project sitting on Github serving as an application example, I would consider this trivial. But, the fact is, upstream or not, we reference this in every cluster as the "Easy Button" for users to get started with applications on OpenShift. Creating something that does not work with FIPS enabled on the cluster blocks a very significant number of users from using it. It turns the

[2021-05-14 11:38] frenzymadness commented on #182
I completely understand. However, the example is there for quite some time and nobody complained ever since which makes me think about the number of people using FIPS on OpenShift.

But yes, we have to find a solution. Fixing Django is not the way because we can do it only for Python 3.9+ and we also don't know whether they are interested in something like this. Another possibility is to come with

[2021-07-09 12:47] pkubatrh commented on #182
Hi @mbach04, sorry for the wait, it a took a while before we were able to discuss this issue inside our team.
The way we see things this example application should be used as demo-material, or intro to how Python applications are used on Openshift. A FIPS-enabled cluster however seems like something that would make more sense to use in production, rather than when just looking at how to set up you

[2021-07-09 12:47] #182 closed

[2021-08-01 00:51] mbach04 commented on #182
All I would say is that if we support deploying the cluster with a feature turned on, we should support the things that run on top of it with said feature turned on. Usually security controls nerf functionality and there's nothing to be done. In this case, we're setting a standard of security and choosing when to meet it. The concept is shift security left, not kick it down the road.

[2021-08-20 07:23] #180 closed

[2022-03-07 06:34] shashank-emani commented on #94
Such a simple resolution. thanks!

[2022-07-06 04:37] mariamuh opened #195 "ImproperlyConfigured"

[2022-07-13 08:41] #195 closed

[2022-08-30 09:32] fbm3307 opened #196 "Testing issue creation for samples operator"
This issue is created for testing purpose. No action required.

[2022-08-30 09:40] fbm3307 commented on #196
This issue was created as part of testing workflow hence closing it .

[2022-08-30 09:40] #196 closed